name: Frontend CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: List Files
        run: ls -al
      - name: CI check
        run: echo "CI is working"
      - name: List Files
        run: ls -al